 			body {
 			    height: 100vh;
			    padding-top: 50px;
			}
				
            .bodycontainer {
                padding: 1%;
                position: relative;
                height: 100%;
                overflow: hidden;
            }

            .right {
                height: 100%;
                width: 50%;
                float: right;
                overflow: hidden;
                padding: 5px;
    			border-left: thick double #000000;
            }

            .left {
				position: relative;
				float: left;
                height: 100%;
                width: 49%;
                overflow: hidden;
            }
            
            .bottomleft {
                float: left;
                height: 45%;
                width: 100%;
                position: relative;
			    left: 5;
			    bottom: 0;
			}
			
			.nav-internal {
				width: 100%;
				margin-top: 5px;
			}
		
			.navbar-fixed-top {
			    margin-bottom: 19px;
			}
			
			#cy {
  				height: 50%;
  				width: 100%;
    			border-radius: 25px;
    			border: 2px solid #000000;
    			padding-bottom: 5px;
    			box-shadow: 2px 2px 3px #888888;
			}

			
			#content {
			    position: relative;
			    height: 100%;
			    width: 100%;
			}


	