 			body {
 			    height: 95vh;
			    padding-top: 50px;
			}
			
			h1 {
			    text-align: center;
			}
			
            .bodycontainer {
                padding: 1%;
                height: 100%;
                overflow: hidden;
            }

            .right {
                height: 100%;
                width: 50%;
                float: right;
                overflow: scroll;
                padding: 5px;
    			border-left: thick double #000000;
            }

            .left {
                float: none;
                height: 50%
                width: 45%;
                padding-bottom: 5px;
                overflow: hidden;
            }
            
            .bottomleft {
                height: 40%;
                width: 45%;
                position: absolute;
			    left: 0;
			    bottom: 0;
			    overflow: hidden;
			}
			
			.name {
			    float: none;
			    padding-left: 15px;
			    width: 100%;
			}
			
			.control {
			    float: right;
			    min-width: 150px;
			    max-width: 200px;
			    width: 24%;
                padding-right: 5%;
			}
			
			#control {
			    float: left;
			    width: 100%;
			    bottom: 0;
			}
			
			#cy {
  				height: 50%;
  				width: 45%;
  				position: absolute;
    			border-radius: 25px;
    			overflow: hidden;
    			border: 2px solid #000000;
			}

			#info {
 		 		color: #c88;
  				font-size: 1em;
  				position: absolute;
  				z-index: -1;
  				left: 1em;
  				top: 1em;
			}
			
			#content {
			    position: relative;
			    height: 100%;
			    width: 100%;
			}


	